
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



* {
	box-sizing: border-box;
  }
  .row::after {
	content: "";
	clear: both;
	display: table;
  }

.top-menu{
    background-color:#1C4492;
    line-height: 54px;
	width: 100%;
    font-weight: 10;
    color:#FFFFFF;
	display: inline-block;  
}

 .logo{
    
	font-size: 29px;
	margin: 0px 10px 0px 51px;
	font-family: 'Recursive', sans-serif;
	line-height: 60px;
	display: inline-block;
}
.menu{
	
	float: right;
	font-size: 18px;
	margin-right: 53px;
	font-family: 'Recursive', sans-serif;
	line-height: 60px;
	
}
.menu-items{
	margin-left: 68px;
	display: inline-block;
}

.biotech {
    height: auto;
    width: 80%;
    display: inline-block;
    margin-top: 40px;
    border-radius: 20px 20px 0px 20px;
}


h1{
	text-align: center;
    font-family: 'Recursive', sans-serif;
    font-weight: 600;
	font-size: 52px;
    line-height: 60px;
    color: #000000;
	margin: 0px auto;
}
.bio{
	text-align: center;
    font-family: 'Recursive', sans-serif;
    padding: 5% 9% 0% 9% ;
	font-size: 21px;
    width: 100%;
    line-height: 39.2px;
    color: #000000;
	margin: 0px auto;
}
.main{
	margin: 10% 10% 10% 10%;
}
.image {
    text-align: center;
}

.talent-menu{
    background-color: #1C4492;
    width: 100%;
    height: auto;
	text-align: center;
    color: #FFFFFF;
	
}
h2{
	font-family: Roboto;
	font-size: 34px;
	font-style: normal;
	font-weight: 500;
	width: 60%;
	margin: 28px 20%;
	line-height: 63px;
	text-align: left;
	

}
.dance{
    height: auto;
	width: 33%;
    margin: 88px 0px;
    display: inline-block;
    font-family: Roboto;
}
	
	.first{
		width: 60%;
		margin-left: 20%;

		
	}
	.second{
		width: 60%;
		margin-left: 0px auto;
	
	}
	.third{
		width: 60%;
		margin-right: 20%;
		
	
	}
.camera{
	height:auto;
	margin: 5% 5% 5% 10%;
	width: 35%;
	
}

.sky{
	margin-right: 12%;
	float: right;
	width: 335px;	
	height: 335px;
	border-radius: 50%;
	border: 2px solid blue;
}

.skyy{
	display:inline-block;
	margin: 5% 10% 10% 10%;

}
.man{
	display: inline-block;
}
.description{

	opacity: 0.6;
	font-family: Roboto;

}
.camera-man{
	float: right;
	margin: 5% 5% 5% 0%;
	width: 40%;
	text-align: justify;
	line-height: 31.74px;
	font-family: Roboto;
	
}
.nature{
	width: 45%;
	text-align: justify;
	line-height: 31.74px;
	font-family: Roboto;
	
}
h3{
	font-family: Roboto;
font-size: 34px;
font-style: normal;
font-weight: 500;
line-height: 63px;
font-family: Roboto;


}
h4{
	font-family: Roboto;
font-size: 34px;
font-style: normal;
font-weight: 500;
line-height: 63px;
font-family: Roboto;



}
.discription{

	opacity: 0.6;
	font-family: Roboto;


}
.end{
	height: 80px;
	width: 100%;
	color: rgba(255, 255, 255, 0.6);
	text-align: center;
	background: #000000;
	font-family: Roboto;
	line-height: 80px;
	display: block;
	
}

.button {
	background-color: #06e2ff;
	border-radius: 5px;
	border-color: rgba(255, 255, 255, 0);
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
	cursor: pointer;
	width: 150px;
	height: 40px;
	font-family: Roboto;
  }
	
	
  
  .twitter{
	margin: 45px 0px 0px 0px;
	  width: 30%;
	  font-family: Roboto;
	  text-decoration: none;
	  color: white;

  }
  .twitter-button{
	  text-decoration: none;
	  color: white;
	  font-family: Roboto;

  }
  p {
	  text-align: left;
	 opacity: 0.6;
	 width: 70%;
	 margin:10px 20%
 }
.image-title-1{
	margin-left:30% ;
}
.image-title-3{
	margin-left:12% ;
}
.image-discription-3{
	margin-left: 12%;
}


 /*media query*/

 @media only screen and (max-width: 1200px){
	.menu{
		float: right;
		text-align: end;
		width: 50%;
	}
	.menu-items{
		margin-right: 9%;
	}
	.logo{
		margin: 0px 10px 0px 51px;
	}
	.dance{
		width: 33%;
	}
	.camera{
		width: 38%;
		margin-top: 96px;
		margin-left: 80px;
	}
	.camera-man{
		width: 38%;
		margin: 9% 5% 0% 9%;
		float: right;
	    margin: 9% 5% 0% 9%;
	}
	.nature{
		width:38%;
		margin-left: 80px;
		margin-right: 18px;
		float: left;
	}
	.sky{
	width: 325px;
    float: right;
	}
	.discription{
		height: 188px;
		width: 497px;
	}
	h1{
		font-size:300%;
		width: 100%;

	}
	.description{
		height: 188px;
		width: 497px;
	}

}

/*
@media only screen and (min-width: 460px){
	.menu{
		float: right;
		text-align: end;
		width: 50%;
	}
	.menu-items{
		margin-right: 9%;
	}
	.logo{
		margin: 0px 10px 0px 51px;
	}
	.dance{
		width: 33%;
	}
	.camera{
		width: 38%;
		margin-top: 96px;
		margin-left: 80px;
	}
	.camera-man{
		width: 38%;
		float: right;
	    margin: 9% 5% 0% 9%;
	}
	.nature{
		width:38%;
		margin-left: 80px;
		margin-right: 18px;
		float: left;
	}
	.sky{
	width: 25%;
    float: right;
	margin: 10% 20% 10% 0%;
	}
	.discription{
		height: 188px;
		width: 497px;
	}
	h1{
		font-size: 300%;
		width: 80%;
		margin-right: 10%;
		margin-left: 10%;
	}
	.description{
		height: 188px;
		width: 497px;
	}

} */


@media (max-width: 1024px){
	.menu{
		float: right;
		text-align: end;
		width: 50%;
	}
	.menu-items{
		margin-right: 9%;
	}
	.logo{
		margin: 0px 10px 0px 51px;
	}
	.dance{
		width: 33%;
	}
	.camera{
		width: 38%;
		margin-top: 96px;
		margin-left: 80px;
	}
	.camera-man{
		width: 38%;
		float: right;
	    margin: 9% 5% 0% 9%;
	}
	.nature{
		width:38%;
		margin-left: 80px;
		margin-right: 18px;
		float: left;
	}
	.sky{
    float: right;
	margin: 10% 20% 10% 0%;
	}
	.discription{
		height: 188px;
		width: 497px;
	}
	h1{
		font-size: 300%;
		width: 100%;
	}
	.description{
		height: 188px;
		width: 497px;
	}
}

@media (max-width: 480px) {
	.top-menu {
	  display: inline-block;
	}
	h1{
		font-size: 200%;
		width: 100%;
	
	}
	.dance{
		width: 100%;
	}
	.image-title-3{
		margin-left: auto;
	}
	.image-title-1{
		margin-left: auto;
	}
	.image-discription-3{
		margin-left: 21%;
	}
	.image-discription-1{
		margin-right: auto;
	}
	.first{
		margin-left: auto;
	}
	.third{
		margin-right: auto;
	}

	.menu-items{
		margin:0%;
		width: 100%;
		text-align: center;
		
	}
	.menu{
		margin: 0%;
		width: 100%;
		text-align: center;
	}
	.logo{
		width: 100%;
		text-align: center;
	    margin: 0px auto;
		
	}
	.camera{
		display: block;
		width: 80%;
		margin: 10%;
	}
	.camera-man{
		width: 80%;
    margin: 10%;
	}
	.sky{
	
		display: block;
		width: 80%;
		margin: 10%;
		text-align: center;

	}
	.nature{
		display: block;
		width: 80%;
    margin: 10%;
	}

  }


