


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



* {
	box-sizing: border-box;
  }
  .row::after {
	content: "";
	clear: both;
	display: table;
  }
.container-top{
	max-width: 1200px;
	margin: 0px auto;
}
.top-menu{
	
    background-color:#1C4492;
    line-height: 54px;
	width: 100%;
    font-weight: 10;
    color:#FFFFFF;
	display: inline-block;  
}

 .logo{
    
	font-size: 29px;
	margin: 0px 10px 0px 51px;
	font-family: 'Recursive', sans-serif;
	line-height: 60px;
	display: inline-block;
}
.menu{
	
	float: right;
	font-size: 18px;
	margin-right: 53px;
	font-family: 'Recursive', sans-serif;
	line-height: 60px;
	
}
.menu-items{
	margin-left: 68px;
	display: inline-block;
}

.biotech {
    height: auto;
    width: 80%;
    display: inline-block;
    margin-top: 40px;
    border-radius: 20px 20px 0px 20px;
}


h1{
	text-align: center;
    font-family: 'Recursive', sans-serif;
    font-weight: 600;
	font-size: 52px;
    line-height: 60px;
    color: #000000;
	margin: 0px auto;
}
.bio{
	text-align: center;
    font-family: 'Recursive', sans-serif;
    padding: 5% 9% 0% 9% ;
	font-size: 21px;
    width: 100%;
    line-height: 39.2px;
    color: #000000;
	margin: 0px auto;
}
.main{
	margin: 10% 10% 10% 10%;
	max-width: 1200px;

}
.biology{
	margin: 0px auto;
	max-width: 1200px;
}
.image {
    text-align: center;
	max-width: 1200px;
	margin: 0px auto;
}
.container-talent{
	max-width: 1200px;
	margin: 0px auto;
}

.talent-menu{
    background-color: #1C4492;
    width: 100%;
    height: auto;
	text-align: center;
    color: #FFFFFF;
	
}
h2{
	font-family: Roboto;
	font-size: 34px;
	font-style: normal;
	font-weight: 500;
	width: 60%;
	margin: 28px 20%;
	line-height: 63px;
	text-align: left;
	

}
.dance{
    height: auto;
	width: 33%;
    margin: 88px 0px;
    display: inline-block;
    font-family: Roboto;
}
	
	.first{
		width: 60%;
		margin-left: 20%;

		
	}
	.second{
		width: 60%;
		margin-left: 0px auto;
	
	}
	.third{
		width: 60%;
		margin-right: 20%;
		
	
	}
.camera{
	height:auto;
	width: 40%;
	margin: 5% 5% 5% 5%;
	width: 536px;
	height:335px;
	
}

.sky{
	margin-right: 11%;
	float: right;
	width: 335px;	
	height: 335px;
	border-radius: 50%;
	border: 2px solid blue;
}

.skyy{
	display:inline-block;
	margin: 5% 0% 10% 0%;
	max-width: 1200px;


}
.container-bottom{
	max-width: 1200px;
	margin: 0px auto;
}
.man{
	display: inline-block;
	max-width: 1200px;
}
.description{

	opacity: 0.6;
	font-family: Roboto;

}
.camera-man{
	float: right;
	margin: 5% 10% 5% 0%;
	width: 35%;
	text-align: justify;
	line-height: 31.74px;
	font-family: Roboto;
	
}
.nature{
	width: 40%;
	margin: 0% 10% 10% 5%;
	text-align: justify;
	line-height: 31.74px;
	font-family: Roboto;
	
}
h3{
	font-family: Roboto;
font-size: 34px;
font-style: normal;
font-weight: 500;
line-height: 63px;
font-family: Roboto;


}
h4{
	font-family: Roboto;
font-size: 34px;
font-style: normal;
font-weight: 500;
line-height: 63px;
font-family: Roboto;



}
.discription{

	opacity: 0.6;
	font-family: Roboto;


}
.end{
	height: 80px;
	width: 100%;
	color: rgba(255, 255, 255, 0.6);
	text-align: center;
	background: #000000;
	font-family: Roboto;
	line-height: 80px;
	display: block;
	
	
}
.copy{
	max-width: 1200px;
	margin: 0px auto;
}

.button {
	background-color: #06e2ff;
	border-radius: 5px;
	border-color: rgba(255, 255, 255, 0);
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
	cursor: pointer;
	width: 150px;
	height: 40px;
	font-family: Roboto;
  }
	
	
  
  .twitter{
	margin: 45px 0px 0px 0px;
	  width: 30%;
	  font-family: Roboto;
	  text-decoration: none;
	  color: white;

  }
  .twitter-button{
	  text-decoration: none;
	  color: white;
	  font-family: Roboto;

  }
  p {
	  text-align: left;
	 opacity: 0.6;
	 width: 70%;
	 margin:10px 20%
 }
.image-title-1{
	margin-left:30% ;
}
.image-title-3{
	margin-left:12% ;
}
.image-discription-3{
	margin-left: 12%;
}


@media (min-width:1200px){
	#menuToggle
	{
	  display: none;
	}
	.camera-man{
		margin-right: 5%;
	}

	
}
 @media only screen and (max-width: 768px)
 	
 	{
		#menuToggle
		{
		  display: block;
		  position: relative;
		  top: 45px;
		  left: 20px;
	  
		  z-index: 1;
	  
		  -webkit-user-select: none;
		  user-select: none;
		}
	
		#menuToggle a
		{
		  text-decoration: none;
		  color: #ffffff;
	  
		  transition: color 0.3s ease;
		}
	
		#menuToggle a:hover
		{
		  color: tomato;
		}
	
	
		#menuToggle input
		{
		  display: block;
		  width: 25px;
		  height: 20px;
		  position: absolute;
		  top: -7px;
		  left: -5px;
	  
		  cursor: pointer;
	  
		  opacity: 0;
		  z-index: 2; 
	  
		  -webkit-touch-callout: none;
		}
	
	
		#menuToggle span
		{
		  display: block;
		  width: 24px;
		  height: 2px;
		  margin-bottom: 4px;
		  position: relative;
	  
		  background: #cdcdcd;
		  border-radius: 3px;
	  
		  z-index: 1;
	  
		  transform-origin: 4px 0px;
	  
	 	 transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				  opacity 0.55s ease;
		}
	
		#menuToggle span:first-child
		{
		  transform-origin: 0% 0%;
		}
	
		#menuToggle span:nth-last-child(2)
		{
		  transform-origin: 0% 100%;
		}
	
		#menuToggle input:checked ~ span
		{
		  opacity: 1;
		  transform: rotate(45deg) translate(-2px, -1px);
		  background: #ffffff;
		}
	
	
		#menuToggle input:checked ~ span:nth-last-child(3)
		{
		  opacity: 0;
		  transform: rotate(0deg) scale(0.2, 0.2);
		}
	
		#menuToggle input:checked ~ span:nth-last-child(2)
		{
		  transform: rotate(-45deg) translate(0, -1px);
		}
	
	
		#menu
		{
		  position: absolute;
		  width: 101%;
		  margin: -172px 0 0 -6%;
		  padding: 66px;
		  padding-top: 151px;
		  background: #1c4492;
		  list-style-type: none;
		  -webkit-font-smoothing: antialiased;
	  
		  transform-origin: 0% 0%;
		  transform: translate(-100%, 0);
	  
		  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
		}
	
		#menu li
		{
		  padding: 10px 0;
		  font-size: 22px;
		}
	
	
		#menuToggle input:checked ~ ul
		{
		  transform: none;
		}
	

		.menu{
			display: none;
			float: right;
			text-align: end;
			width: 50%;
		}
		.menu-items{
			margin-right: 9%;
		}
		.logo{
		
			display: block;
			text-align: center;
			margin: 0% auto 5% auto;
		}
		.dance{
			width: 100%;
			margin:10% 0% 0% 0;
		}
		.image-title-2{
			margin-left: auto;
			margin-bottom: 0px;
		}
		.image-title-3{
			margin-left: auto;
			margin-bottom: 0px;
		}
		.image-title-1{
			margin-left: auto;
			margin-bottom: 0px;
		}
		.image-discription-3{
			margin-left: 21%;
			margin-bottom: 10%;
		}
		.image-discription-1{
			margin-right: auto;
		}
		.first{
			margin-left: auto;
		}
		.third{
			margin-right: auto;
		}
	
		.camera{
			display: block;
			width: 65%;
			height: 30%;
			margin: 10% 17% 0px 17%;;
		}
		.camera-man{
			display: block;
			width: 80%;
		margin: 10%;
		}
		.sky{
		
			display: block;
			width: 55%;
			margin: 0% 23% 10% 22%;
			height: 40%;
			text-align: center;
	
		}
		.nature{
			display: block;
			width: 80%;
		margin: 10%;
		}
		.discription{
			height: 188px;
			width: 497px;
		}
		h1{
			font-size:300%;
			width: 100%;

		}
		.description{
			height: 188px;
			width: 497px;
		}
	}
@media (min-width:769px)
{
	#menuToggle{
		display: none;
	}
}

@media only screen and (min-width:1025px) and (max-width: 1200px) {
		
	.menu{
		text-align: end;
		width: 60%;
	}
	.menu-items{
		margin-right: -2%;
	}
	.logo{
		margin: 0px 10px 0px 51px;
	}
	.dance{
		width: 33%;
	}
	.camera{
		width: 38%;
		margin-top: 96px;
		margin-left: 80px;
	}
	.camera-man{
		width: 40%;
		float: right;
	    margin: 9% 3% 0% 3%;
	}
	.nature{
		width:38%;
		margin-left: 80px;
		margin-right: 18px;
		margin-top: 5%;
		float: left;
	}
	.sky{
	width: 35%;
    float: right;
	margin: 5% 10% 10% 0%;
	
	}
	.discription{
		height: 188px;
		width: 497px;
	}
	h1{
		font-size: 300%;
		width: 80%;
		margin-right: 10%;
		margin-left: 10%;
	}
	.description{
		height: 188px;
		width: 497px;
	}

} 


@media only screen and (min-width:769px) and (max-width: 1024px){

	.menu{
		float: right;
		text-align: end;
		font-size: 14px;
		width: 70%;
	}
	.menu-items{
		margin-right: -3%;
	}
	.logo{
		margin: 0px 10px 0px 51px;
	}
	.dance{
		width: 32%;
	}
	.image-discription-1{
		margin-left: 30%;
	}
	.camera{
		width: 42%;
		margin: 10% 5% 10% 5%;
	}
	.camera-man{
		width: 40%;
		float: right;
	    margin: 9% 3% 0% 3%;
	}
	.nature{
		width:38%;
		margin-left: 80px;
		margin-right: 18px;
		float: left;
	}
	.sky{
    float: right;
	width: 35%;
	margin: 5%;
	}
	.discription{
		height: 188px;
		width: 497px;
	}
	h1{
		font-size: 300%;
		width: 80%;
		margin-right: 10%;
		margin-left: 10%;
	}
	.description{
		height: 188px;
		width: 497px;
	}
}

@media (max-width: 480px) {
	.top-menu {
	  display: inline-block;
	}

	h1{
		font-size: 200%;
		width: 100%;
		margin-left: 0px;
	
	}
	.dance{
		width: 100%;
		margin:10% 0% 0% 0;
	}
	.image-title-2{
		margin-left: auto;
		margin-bottom: 0px;
	}
	.image-title-3{
		margin-left: auto;
		margin-bottom: 0px;
	}
	.image-title-1{
		margin-left: auto;
		margin-bottom: 0px;
	}
	.image-discription-3{
		margin-left: 21%;
		margin-bottom: 10%;
	}
	.image-discription-1{
		margin-right: auto;
	}
	.first{
		margin-left: auto;
	}
	.third{
		margin-right: auto;
	}

	.menu-items{
		margin:0%;
		width: 100%;
		text-align: center;
		
	}
	.menu{
		margin: 0%;
		width: 100%;
		text-align: center;
	}
	.logo{
		width: 100%;
		text-align: center;
		margin: 0% auto 5% auto;
		
	}
	.camera{
		display: block;
		width: 65%;
		height: 23%;
		margin: 10% 17% 0px 17%;;
	}
	.camera-man{
		width: 80%;
    margin: 10%;
	}
	.sky{
	
		display: block;
		width: 57%;
		margin: 0% 22% 10% 22%;
		height: 30%;
		text-align: center;

	}
	.nature{
		display: block;
		width: 80%;
    margin: 10%;
	}

}
@media only screen and (min-width:361px) and (max-width: 375px){
	.sky{
		height: 30%;
	}
	.logo{
		width: 100%;
		text-align: center;
		margin: 0% auto 5% auto;
		
	}
	
}
@media only screen and (min-width:376px) and (max-width: 479px) {
	.sky{
		height: 33%;
	}
	
}
@media only screen and (min-width:260px) and (max-width: 300px){
	.sky{
		height: 27%;
	}
.burger{
	display: inline-block;
}
.logo{
	width: 100%;
	text-align: center;
	margin: 0% auto 5% auto;	
}
}