body{
    margin: 0%;
    padding: 0%;
    line-height: 1.25em;
    font-family: 'Raleway', sans-serif;
}
.title-menu{
    width: 100%;
    height: 48px;   
}
        .top-menu{
        float: right;
        max-width: 962px;
        margin: 0px auto;
        
        }
        .title-logo{
            height: 48px;
            width: 48px;
            float: left;
        }
        #about{
            display: inline-block;
        }
        .menu-items{
            display: inline-block;
        }

        #get-started{
            display: inline-block;
        }
    .eye{
        width: 26px;
        height: 17px;
    }