body{
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
.it-home-content{
    max-width: 1400px;
    background-image: url("images/front.png" );
    width: 100%;
    height: 800px;
    
    background-repeat: no-repeat;
}
header{
    width: 60%;
    padding: 1% 20%;
    
}
.it-home-link{
    float: right;
    vertical-align: bottom;
}
a{
    padding: 18px;
    line-height: 40px;
    color: white;
}

.it-trekking{
    max-width: 1400px;
}
.it-trekking-image{
    max-width: 1400px;
    width: 100%;
}
.it-home-bottom{
    margin: 10px auto;
    width: 60%;
    padding: 0% 20%;
}
.it-home-bottom-link{
    color: black;
   
    
}
.it-home-bottom-links{
float: right;
}
.logo-home-bottom{
    padding-right: 1%;
}
.it-corosal{
    width: 100%;
    background-image: url("images/second.png");
    max-width: 1400px;
    height: 600px;
}
.it-corosal-content{
    width: 60%;
    padding: 5% 20%;
}
.history{
    padding-bottom: 25px;
    margin-left: -20px;
}
.it-corosal-bg{
    background-image: url("images/bg.png");
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    max-width: 1400px;
    
}
.it-climb{
    width: 60%;
    margin: 5% auto;
}
.climb{
    display: inline-block;
    width: 35%;
}
.it-climb-discription{
    
    float: right;
    width: 65%;
    padding-top: 15px;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  #London{
      background-image: url("images/coro-1.png");
      background-repeat: no-repeat;
      height: 500px;

  }
  .schedule-1{
      background: rgba(255, 255, 255, 0.5);
      display: inline-block;
      margin: 5% 25%;
      
  }
  #Paris{
    background-image: url("images/coro-2.png");
    background-repeat: no-repeat;
    height: 500px;

}
.strong{
    font-size: 20px;
}
footer{
    background-color: rgb(0, 23, 90);
    
}
.footer-content{
    width: 60%;
    margin: auto ;
    opacity: 0.5;
    
}
.footer-logo{
    width: 20%;
    display: inline;
    
}
.footer-copy{
    float: right;
}