body{
    margin: 0%;
    padding: 0%;
    line-height: 1.25em;
    font-family: 'Raleway', sans-serif;
}
* {
	box-sizing: border-box;
  }
  .row::after {
	content: "";
	clear: both;
	display: table;
  }

.title-menu{
    width: 100%;
    height: 48px;   
    margin-top: 28px;
   
}
        .top-menu{
        float: right;
        max-width: 962px;
        margin: 0px auto;
        
        }
        .title-logo{
            height: 48px;
            width: 48px;
            float: left;
        
        }
        #about{
            display: inline-block;
        }
        .menu-items{
            display: inline-block;
        }

        #get-started{
            display: inline-block;
            border-radius: 20px;
            border-bottom-style: solid;
            border-right-style: solid;
            border-color: orchid;
            color: orchid;
            background-color: white;
            text-align: center;
            text-decoration: none;
            font-size: 17px;
            cursor: pointer;
            width: 150px;
            height: 40px;
        }
    .eye{
        width: 26px;
        height: 17px;
    }
    .start-free-trail{
        border-radius: 20px;
        border-bottom-style: solid;
        border-right-style: solid;
        border-color: orchid;
        color: white;
        background-color: darkviolet;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        cursor: pointer;
        width: 150px;
        height: 40px;

    }
    .learn-more{
        border-radius: 20px;
        border-bottom-style: solid;
        border-right-style: solid;
        border-color: white;
        color: black;
        background-color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        cursor: pointer;
        width: 150px;
        height: 40px;
    }
    .landing-content-container{
        display: inline-block;
        height: 812px;
        width: 100%;
    }
            .landing-content{
                width: 896px;
                height: 528px;
                margin: 0px auto;
                
            }
                        .landing-text{
                            margin-top: 160px;
                            display: inline-block;
                            width: 50%;
                        }
                        .landing-image{
                            width: 48%;
                            float:right;
                        }
    .second-page-container{
        height: 812px;
        width: 100%;
        text-align: center;
        display: inline-block;
       
    }
            .second-page{
                width: 896px;
                height: 528px;
                margin: 0px auto;
                
            }
                        .qubly{
                            margin: 42px auto;
                            text-align: center;
                            width: 144px;
                            height: 40px;
                        }
                        .insight{
                            margin: 0px auto;
                            text-align: center;
                            width: 480px;
                            height: 88px;
                        }
                        .insight-discription{
                            margin: 16px auto 0px auto;
                            text-align: center;
                            width: 504px;
                            height: 72px;
                        }
                        .second-page-bottom{
                            display: inline-block;
                        }
                                .data{
                                    height: 232px;
                                    width: 33%;
                                    display: inline-block;
                                }
                                .algorithm{
                                    height: 232px;
                                    width: 33%;
                                    display: inline-block;
                                }
                                .business{
                                    height: 232px;
                                    width: 33%;
                                    display: inline-block;
                                }




    .third-page-container{
        height: 812px;
        width: 100%;
    }
            .third-page{
                width: 1016px;
                height: 436px;
                margin: 0px auto;
                
            }
                            .third-page-left{
                                display: inline-block;
                            }
                                .icon-bundle{
                                    width: 376px;
                                    height: 435px;
                                    display: inline-block;
                                }
                            .third-page-right{
                                   width: 638px;
                                   height: 435px;
                                   float: right;
                            }
                        


    .fourth-page-container{
        height: 812px;
        width: 100%;
    }
            .fourth-page{
                width: 1116px;
                height: 414px;
                margin: 0px auto;
            }
                .fourth-page-left{
                    width: 435px;
                    height: 414px;
                    display: inline-block;  
                }
                .fourth-page-right{
                    width: 674px;
                    height: 414px;
                    display: inline-block;
                }


    .fifth-page{
        height: 812px;
        width: 100%;
    }
                                .fifth-page-title{
                                    width: 664px;
                                    height: 56px;
                                    text-align: center;
                                    margin: 200px auto 16px auto;
                                }
                                .profile{
                                    width: 80px;
                                    height: 80px;
                                    text-align: center;
                                    margin: 0px 600px 16px 600px;
                                }
                                .profile-name{
                                    width: 464px;
                                    height: 48px;
                                    text-align: center;
                                    margin: 0px auto 114px auto;
                                }
                                .compass{
                                    width: 135px;
                                    height: 35px;
                                    margin-left: 62px;
                                }
                                .icons-list :first-child {
                                    margin-left: 0px;
                                }
                                .icons-list{
                                    width: 943px;
                                    height: 38px;
                                    
                                    margin: 0px auto;
                                }

    .log-in-page-container{
        height: 812px;
        width: 100%;
        text-align: center;

    }
            .log-in-page{
                width: 1064px;
                height: 568px;
                margin: auto;
            }
                                .partners{
                                    width: 600px;
                                }
                                .log-in-partner-icon{
                                    margin-left: 102px;
                                    margin-top: 67px;
                                }
                               

    .conclusion-page-container{
        height: 812px;
        width: 100%;
        display: inline-block;
        
        
    }
            .conclusion-page{
                width: 1160px;
                height: 100%;
                margin: 0px auto;
                
               
            }
                                
                              
                                .conclusion-left{
                                    width: 185px;
                                    display: inline-block;
                                    font-size: 12px;
                                    margin-top: 61px;
                                    vertical-align: top;
                                }
                                .product{
                                    width: 92px;
                                    height: 224px;
                                    display: inline-block;
                                    margin-left: 72px;
                                    line-height: 30px;
                                    font-size: 12px;
                                    margin-top: 61px;
                                }
                                .developer{
                                    width: 133px;
                                    height: 120px;
                                    display: inline-block;
                                    margin-left: 56px;
                                    line-height: 30px;
                                    font-size: 12px;
                                    margin-top: 61px;
                                    vertical-align: top;
                                    
                                }
                                
                                .company{
                                    width: 96px;
                                    height: 80px;
                                    display: inline-block;
                                    margin-left: 56px;
                                    line-height: 30px;
                                    font-size: 12px;
                                    margin-top: 61px;
                                    vertical-align: top;
                                }
                                .support{
                                    width: 96px;
                                    height: 144px;
                                    display: inline-block;
                                    margin-left: 56px;
                                    line-height: 30px;
                                    font-size: 12px;
                                    margin-top: 61px;
                                    vertical-align: top;
                                }
.footer{
    display: block;
    width: 100%;
    height: 21px;
    text-align: center;
}